# Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
*Icon\r
.idea/
projects_cn/
quiz/sklearn/gaussian/test.png
Icon\r
playground/Icon\r
projects/Icon\r
projects/boston_housing/Icon\r
"projects/capstone/Icon\r"
"projects/capstone/open_projects/Icon\r"
"projects/capstone/open_projects/robot_motion_planning/Icon\r"
"projects/customer_segments/Icon\r"
"projects/digit_recognition/Icon\r"
"projects/finding_donors/Icon\r"
"projects/smartcab/Icon\r"
"projects/smartcab/images/Icon\r"
"projects/smartcab/smartcab/Icon\r"
"projects/student_intervention/Icon\r"
"projects/titanic_survival_exploration/Icon\r"
"quiz/Icon\r"
"quiz/sklearn/Icon\r"
"quiz/sklearn/gaussian/Icon\r"
